:root {
    --white: #F9F9F9;

    --blue: #3265CC;
    --dark-blue: #4267B2;

    --gray: #898F9C;

    --black: #000;

    --green: #30A834;

    --red: #F63B3B;
}

/* @media screen and (max-width: 1366px) {
    html {
      font-size: 87.5%; 
    }
} */