* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    border: none;
    border-radius: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}