.btn-action {
    display: flex;
    align-items: center;
    cursor: pointer;
    background: none;
    transition: opacity 150ms;
}

.btn-action .txt {
    font: 400 1.125rem "Poppins", sans-serif;
    color: var(--gray);
    padding-left: 1rem;
}

.btn-action:hover {
    opacity: .75;
}


.btn-action .txt.-bold {
    font-weight: 600;
}
