.main-header {
    display: flex;
    height: 4.375rem;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.875rem;
}

.main-header .logosearch {
    display: flex;
    gap: 1.5625rem;
    align-items: center;
}