.main-text {
    font: 600 1.125rem "Poppins", sans-serif;
    color: var(--black);
}

.main-text.-sidebar {
    margin-bottom: 1.25rem;
}

.main-text.-story {
    color: var(--white);
    bottom: 0;
    position: absolute;
}