.main-header {
    display: flex;
    padding: 10px 30px;
    height: 70px;
    box-shadow: 0px 4.8px 14.4px rgba(0, 0, 0, 0.18), 0px 25.6px 57.6px rgba(0, 0, 0, 0.22);
}

.main-header .navigation {
    width: 100%;
    display: inherit;
    justify-content: center;
}

.main-header .links-wrapper {
    width: 560px;
    display: inherit;
    justify-content: space-between;
}

.main-header .links {
    list-style: none;
    display: inherit;
    align-items: center;
}