.search-box {
    display: inherit;
    align-items: center;
    height: 3.125rem;
    background-color: #8686864A;
    padding-left: 0.9375rem;
    padding-right: 1.375rem;
    border-radius: 10px;
}

.search-box img {
    float: left;
    margin-right: 0.3125rem;
}

.search-box > .search {
    font: 500 0.8125rem "Poppins", sans-serif;
    background: transparent;
    outline: none;
    width: 8.125rem;
}

.search-box > .search::placeholder {
    color: var(--gray);
    opacity: 1;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}