.sidebar-left {
    width: 100%;
    max-width: 20.25rem;
    padding-left: 1.875rem;
    padding-top: 1.875rem;
}

.sidebar-left a {
    display: flex;
    align-items: center;
}

.sidebar-left .icon {
    width: 40px;
    height: 40px;
    margin-right: 1.25rem;
    text-align: center;
}

.sidebar-left .items:last-child img {
    height: 35px;
}

.sidebar-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
}

.sidebar-left hr {
    border-color: var(--gray);
    border-style: solid;
    opacity: 0.6;
    margin-top: 1.875rem;
    margin-bottom: 1.875rem;
    width: calc(100% - 1.875rem);
}

.sidebar-left .copyright {
    width: 100%;
    max-width: 11.875rem;
    font: 400 .8125rem "Poppins", sans-serif;
    color: var(--gray);
}
