.sidebar-left {
    position: relative;
    width: 100%;
    max-width: 20.25rem;
    padding-left: 1.875rem;
    padding-top: 1.875rem;
}

.sidebar-left .items {
    margin-bottom: 2.1875rem;
}

.sidebar-left a {
    display: flex;
    align-items: center;
}

.sidebar-left img {
    margin-right: 1.25rem;
}

.sidebar-left .items.-user img {
    margin-right: .9375rem;
}

.sidebar-left .items.-second img {
    margin-right: 1rem;
}

.sidebar-left .items.-saved img {
    margin-right: 1.625rem;
}

.sidebar-left .items:last-child img {
    position: relative;
    left: -1px;
    height: 35px;
}

.sidebar-left .sidebar-wrapper::after {
    position: absolute;
    content: '';
    width: calc(100% - 3.75rem);
    height: 1px;
    background-color: var(--gray);
}

.sidebar-left .copyright {
    padding-top: 1.875rem;
    width: 100%;
    max-width: 11.875rem;
    font: 400 .8125rem "Poppins", sans-serif;
    color: var(--gray);
}
