.stories-wrapper {
    margin-bottom: 2.5rem;
    display: flex;
    position: relative;
    align-items: center;
}

.stories-wrapper > .items {
    display: inherit;
    width: 100%;
    gap: 12px;
    justify-content: center;
}

.stories-wrapper .arrow {
    position: absolute;
    background-color: transparent;
    cursor: pointer;
    right: 0;
}

.stories-wrapper .arrow > img {
    padding: 1.25rem;
    border-radius: 50%;
    background-color: var(--white);
    box-shadow: 0px .3rem .9rem rgba(0, 0, 0, 0.18), 0px 1.6rem 3.6rem rgba(0, 0, 0, 0.22);
}