.user-block {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.user-block .profilepic {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.user-block > .info {
    margin-left: 1.25rem;
    position: relative;
}

.user-block .time {
    font: 400 0.875rem "Poppins", sans-serif;
    
}

.user-block .time::after {
    content: url(../../assets/icons/public.svg);
    position: absolute;
    height: 15px;
    width: 15px;
    transform: translate(50%, 15%);
}

.user-block .options {
    margin-left: auto;
}